*{
	font-family: 'Raleway', serif;
	color: gray;
}

input,
textarea, 
button,
select {
		font-family: 'Raleway', serif;
		border: 0;
		border-radius: 5px;
}

#wrapper,
#banner {
	width: 70%;
	margin: 0 auto;
}

header {
	text-align: center;
}

#banner {
	background: #0f59c2;
	text-align: center;
}

h1 {
	font-size: 1em;
	color: white;
	margin-top: 0;
	padding: 20px 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	color: #0f59c2;
	padding-top: 10px;
}

header p {
	font-size: .9em;
	padding-bottom: 30px;
	border-bottom: 5px solid #0f59c2;
	margin-bottom: 3px;
}

#main-header {
	border-bottom: 2px solid #0f59c2;
	margin-top:;
}

fieldset {
	border: none;
}

#contact {
	margin: 0 -10px;
	border-bottom: 2px solid #0f59c2;
	padding-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	background-color: #EFF0F1;
	width: 100%;
	padding: 15px 25px 15px 10px;
	margin: 10px 0;
	color: #555;
	box-sizing: border-box;
	transition: background-color .3s ease;
}

input:required:invalid:focus {
	box-shadow: 0 0 0 2px red;
	background-color: rgba(255,0,0,.1);
}

input:required:valid:focus {
	box-shadow: 0 0 0 2px green;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 0 2px #0f59c2;
	transition: box-shadow .2s ease;
}

select:focus {
}

label {
	font-size: .85em;
	padding: 5px 0;
	color: #758490;
}

input::-webkit-input-placeholder {
	text-align: right;
	font-style: italic;
	font-size: .7em;
	padding: 2px;
}

input::-moz-placeholder {
	text-align: right;
	font-style: italic;
	font-size: .7em;

}

input:-ms-input-placeholder {
	text-align: right;
	font-style: italic;
	font-size: .7em;
}

select {
	width: 100%;
	height: 3.5em;
	background: #EFF0F1;
	font-size: .8em;
	margin: 10px 0;
}

label[for="zip"] {
	display: block;
}

#zip {
	width: 150px;
}

fieldset #newsletter {
	margin: -11.5px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 10px 10px 0 0px;
}

textarea {
	background: #EFF0F1;
	width: 100%;
	margin: 10px 0 20px;
	height: 7em;
	color: #555;
	font-size: .9em;
	padding: 10px;
	box-sizing: border-box;
	transition: box-shadow .3s ease;
}

button {
	background-color: #0f59c2;
	color: white;
	width: 100%;
	padding: 20px 0;
}

footer {
	font-size: .8em;
	font-style: italic;
	text-align: center;
}

/*Media Queries*/
@media screen and (min-width:768px) {
	#banner {
		width: 100%;
	}
	
	#wrapper {
		width: 550px;
	}
	
	#contact label {
		width: 150px;
		display: inline-block;
	}
	
	#contact input,
	#contact select {
		display: inline-block;
		width: 400px;
		margin-left: -10px;
	}
	
	#zip {
		width: 150px !important;
	}
}